<%= turbo_stream_from @movie %>
<div class="movie_info">
  <h1><%= @movie.title %></h1>
  <%= image_tag @movie.image_url, size: "300x450", alt: @movie.title %>
  <div>
    <span>Release year:</span>
    <%= @movie.release_year %>
  </div>
  <div>
    <span>Director:</span>
    <%= @movie.director %>
  </div>
  <div>
    <span>Genre:</span>
    <%= @movie.genre %>
  </div>
  <div>
    <span>Description:</span>
    <%= @movie.description %>
  </div>
    <%= render 'movie_rating', movie: @movie %>
    <hr>
    <%= render 'reviews/current_user_review', review: @current_user_review %>
    <h4 class="mt-3">User reviews</h4>
    <div id="reviews">
      <% if @movie.reviews.present? %>
        <%= render partial: 'reviews/review', collection: @movie.reviews, as: :review %>
      <% end %>
    </div>
</div>
