<div class="movie_info">
  <h1><%= @movie.title %></h1>
  <%= image_tag @movie.image_url, size: "300x450", alt: @movie.title %>
  <div>
    <span>Release year:</span>
    <%= @movie.release_year %>
  </div>
  <div>
    <span>Director:</span>
    <%= @movie.director %>
  </div>
  <div>
    <span>Genre:</span>
    <%= @movie.genre %>
  </div>
  <div>
    <span>Description:</span>
    <%= @movie.description %>
  </div>
</div>
