<%= link_to movie_path(review.movie), class: "text-decoration-none" do %>
<div id="<%= dom_id review %>">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
          <%= image_tag review.movie.image_url, class: 'img-fluid rounded-start', size: "250x300" %>
      </div>
      <div class="col-md-8">
        <turbo-frame id="current-user-review">
          <div class="card-body">
              <h5 class="card-title"><%= review.movie.title %></h5>
            <div class="d-flex justify-content-between">
              <%= render 'shared/stars', value: review.rating %>
            </div>
            <div>
              <%= review.comment %>
            </div>
            <div class="text-start mt-2">
              <span class="small">
                <%= review.created_at.strftime('%Y-%m-%d %H:%M') %>
              </span>
            </div>
          </div>
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
<% end %>
